include ../mixins/buttons
include ../mixins/modal
include ../mixins/forms

+modalFormButton("new_user") New user
+modalForm("new_user", "New user", "createUserAction()")
  +formText("username", "Username")(placeholder="Username", required, maxlength=10)
  +formText("lastname", "Lastname")(placeholder="Lastname", required)
  +formText("firstname", "Firstname")(placeholder="Firstname", required, minlength = 5)

div(ng-if="users.length > 0")
  table(class="table table-bordered")
    tr
      th Username
      th Lastname
      th Firstname
      th Actions
    tr(ng-repeat="u in users")
      td {{ u.username }}
      td {{ u.last }}
      td {{ u.first }}
      td 
        button(ng-click="removeUser(u._id)", class=["btn", "btn-danger", "btn-xs"]) Remove
p
  button(ng-click="refreshUserList()") Refresh