include mixins/navbar
include mixins/alert
include mixins/loader
extends layout

block body

  div(ng-show="false") 
    Loading ...
  div(ng-controller='AppCtrl', ng-cloak, class="ng-cloak")
    +announce  
    +nav('{{ appName }}', "dropdown_menu")
      +nav_item("/home") Home
      +nav_item("/users") Users

    div(ng-view, ng-cloak, class="ng-cloak")
    +loader()
    div
      | Task-distributor seed app: v
      span(app-version)

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='bower_components/jquery/dist/jquery.min.js' )
  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js' )
  script(src='bower_components/angular-xeditable/dist/js/xeditable.js' )
  script(src='js/others/loading-overlay.js' )
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers/MainControllers.js')
  script(src='js/controllers/AdminControllers.js')  
  script(src='js/filters.js')
  script(src='js/directives.js')