include mixins/task
include mixins/navbar
include mixins/buttons
include mixins/alert
extends layout

block body
  div(ng-controller='AppCtrl')
    +nav('{{ appName }}', "dropdown_menu")
      +nav_item("home", "active") Home
      +nav_item("view1") View1
      +nav_item("view2") View2
    div(ng-view)

    div
      | Angular Socket.io seed app: v
      span(app-version)

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script( src='/bower_components/jquery/dist/jquery.min.js' )
  script( src='/bower_components/bootstrap/dist/js/bootstrap.min.js' )
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
