!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Task-distributor' )
    base(href='/')
    title Angular Socket.io Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/css/bootstrap.min.css')
  body
    block body