doctype html
html(ng-app="TaskDistributorApp")
  head
    meta(charset='utf8')
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Task-distributor' )
    base(href='/')
    title Task-distributor
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  body
    div(class="container")
        block body