//- Button mixin
mixin button(style, href, size)
    - var style = (typeof style === 'undefined') ? "default" : style
    - var href = (typeof href === 'undefined') ? "#" : href
    case size
        when "large"
            - size = "btn-lg"
        when "small"
            - size = "btn-sm"
        when "mini"
            - size = "btn-xs"
 
    a( class=["btn", "btn-" + style, size], href=href )
        block
        
        
mixin buttonng(style, ngclick, size)
    - var style = (typeof style === 'undefined') ? "default" : style
    - var ngclick = (typeof ngclick === 'undefined') ? "" : ngclick
    case size
        when "large"
            - size = "btn-lg"
        when "small"
            - size = "btn-sm"
        when "mini"
            - size = "btn-xs"
 
    button( class=["btn", "btn-" + style, size], ng-click=ngclick )
        block        