mixin loader()
  .container
    .gearbox
    .overlay
      .gear(class="one")
        .gear-inner
          .bar
          .bar
          .bar
      .gear(class="two")
        .gear-inner
          .bar
          .bar
          .bar
      .gear(class="three")
        .gear-inner
          .bar
          .bar
          .bar
      .gear(class=["four", "large"])
        .gear-inner
          .bar
          .bar
          .bar
          .bar
          .bar
          .bar
    h1 
      | Loading...